.slick-prev:before,
.slick-next:before {
    color: rgba(0, 0, 0, 0.5) !important;
    font-size: 30px !important;
}

.width-reactSlick {
    width: 100% !important;
}

.active_ButtonFilm {
    @apply text-red-500;
}

.noActive_ButtonFilm {
    @apply text-black;
}