@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.ant-carousel .slick-dots {
    margin: 0 !important;
    padding: 0 !important;
}

.container {
    max-width: 1280px !important;
}